<div style="text-align:center">
  <div class="header">
    <h2 style='text-align: center;'>
      NGX SIZE ME
    </h2>

    <p style="text-align: center; margin-top: 20px;">
      Resize your browser window to see it in action.
    </p>
  </div>
  <div style="width: 100%; height: 100%">
    <app-size-aware height="100px" color="Red"></app-size-aware>
    <app-size-aware height="100px" color="Green"></app-size-aware>
    <div className="clearfix">
      <div style="float:left;width:60%"><app-size-aware height="500px" color="Blue"></app-size-aware></div>
      <div style="float:left;width:40%">
        <app-size-aware height="250px" color="Yellow"></app-size-aware>
        <app-size-aware height="50px" color="Purple"></app-size-aware>
        <app-size-aware height="250px" color="Pink"></app-size-aware>
      </div>
    </div>
  </div>
</div>

